In [83]:
for i in range(0,10):
    print("li")
    print('land')
    print("ly lame ls lay")

li
land
ly lame ls lay
li
land
ly lame ls lay
li
land
ly lame ls lay
li
land
ly lame ls lay
li
land
ly lame ls lay
li
land
ly lame ls lay
li
land
ly lame ls lay
li
land
ly lame ls lay
li
land
ly lame ls lay
li
land
ly lame ls lay

In [4]:
c=2
while(c<=10):
    print(c)
    c=c+1

2
3
4
5
6
7
8
9
10

In [11]:
num=[10,8,17,15,2,495]
minnum=num[0]
for i in range(0,6):
        if num[i]<minnum:
            minnum=num[i]

In [12]:
minnum

2

In [53]:
nums=[2,35,1,-98,0,101]
mininum=nums[0]
for i in range(0,6):
        if nums[i]<mininum:
            mininum=nums[i]

In [54]:
mininum

-98

In [30]:
numes=[3,4,45,21,64,26,29,10,20]
mininumes=numes[0]
for i in range(0,7):
        if numes[i]<mininumes:
            mininumes=numes[i]

In [31]:
mininumes

3

In [24]:
numss=[2,30,40,85,30,43,71,40]
maxnum=numss[0]
for i in range(0,7):
        if numss[i]>maxnum:
            maxnum=numss[i]

In [25]:
maxnum

85

In [244]:
import random

from random import randint
done=0
while(done<=7):
    don=random.randint(0,100)
    print(don)
    done=done+1

81
35
87
91
99
90
100
53

In [5]:
def fmininum(mininum):
    mininumes=mininum[0]
    for i in range(0,len(mininum)):
        if mininum[i]<mininumes:
            mininumes=mininum[i]
    return(mininumes)

In [14]:
m=fmininum([9,9,9,9,9,9,9,9])
print(m-7)

2

In [10]:
def fmaxnum(num):
    maxnum=num[0]
    for i in range(0,len(num)):
        if num[i]>maxnum:
            maxnum=num[i]
    return(maxnum)

In [41]:
fmaxnum([22222,2])

22222

In [7]:
def example(x):
    conter=0
    while(conter<len(x)):
        print(x[conter])
        conter+=1

In [8]:
example([47,16,27,45,13])

47
16
27
45
13

In [134]:
def fsecondmax(x):
    z=x[0]
    y=x[1]
    if y > z:
            a=y
            y=z
            z=a
    for i in range (2,len(x)):
            if z<x[i]:
                y=z
                z=x[i]
            else:
                if y<x[i]:
                    y=x[i]
    return(y,z)

In [135]:
 fsecondmax([1,2,27,45,13])

(27, 45)

In [86]:
def fsecondmini(x):
    z=x[0]
    y=x[1]
    if y < z:
        a=y
        y=z
        z=a
    for i in range (0,len(x)):
            if z>x[i]:
                y=z
                z=x[i]
            else:
                if y>x[i]:
                    y=x[i]
    return(y)

In [124]:
 fsecondmini([47,16,27,45,13])

16

In [98]:
def example2():
    t=0
    i=0
    while(i<20):
        if i%2==0 and i%3==0:
            t=t+i
        i=i+1
    return(t)

In [100]:
example2()

36

In [96]:
example2()

36

In [97]:
t=0
for i in range(0,20):
    if i%2==0 and i%3==0:
            t=t+i 
print(t)

36

In [2]:
def thirdmax(x):
    z=x[0]
    y=x[1]
    xy=x[2]
    if xy>=y:
        new=y
        y=xy
        xy=new
    if y >= z:
        new=y
        y=z
        z=new
    if xy>=y:
        new=y
        y=xy
        xy=new
    print(xy,y,z)
    for i in range(3,len(x)):
        if z<x[i]:
            xy=y
            y=z
            z=x[i]
        elif y<x[i]:
            xy=y
            y=x[i]
        elif xy<x[i]:
            xy=x[i]
    return(xy,y,z)

In [9]:
thirdmax([1,333,432,222,81,35,81,91,99,90,100,53,777, 888,999])

1 333 432

(777, 888, 999)

In [247]:
def thirdmini(x):
    z=x[0]
    y=x[1]
    xy=x[2]
    if xy<=y:
        new=y
        y=xy
        xy=new
    if y <= z:
        new=y
        y=z
        z=new
    if xy<=y:
        new=y
        y=xy
        xy=new
    print(xy,y,z)
    for i in range(3,len(x)):
        if z>x[i]:
            xy=y
            y=z
            z=x[i]
        elif y>x[i]:
            xy=y
            y=x[i]
        elif xy>x[i]:
            xy=x[i]
    return(xy,y,z)

In [248]:
thirdmini([81,35,81,91,99,90,100,53])

81 81 35

(81, 53, 35)

In [80]:
def bubble_sort(x):
    for i in range (0,len(x)):
        for j in range (i+1,len(x)):
            if x[j] > x[i]:
                xy=x[j]
                x[j]=x[i]
                x[i]=xy
    return(x)

In [81]:
bubble_sort([799,2,6,8,2,9,3,6,5,8,3,66,45,7409,6,6,3,65,11,4,4400])

[7409, 4400, 799, 66, 65, 45, 11, 9, 8, 8, 6, 6, 6, 6, 5, 4, 3, 3, 3, 2, 2]

In [84]:
def bubble_sort2(x):
    for i in range (0,len(x)):
        for j in range (i+1,len(x)):
            if x[j] < x[i]:
                xy=x[j]
                x[j]=x[i]
                x[i]=xy
    return(x)

In [85]:
bubble_sort2([799,2,6,8,2,9,3,6,5,8,3,66,45,7409,6,6,3,65,11,4,4400])

[2, 2, 3, 3, 3, 4, 5, 6, 6, 6, 6, 8, 8, 9, 11, 45, 65, 66, 799, 4400, 7409]

In [44]:
def insertion_sort(arr):
    j=1
    for j in range(1,len(arr)):
        x=arr[j]
        i=j-1
        while(i>=0):
            if x <= arr[i]:
                arr[j]=arr[i]
                j=j-1
            i=i-1
        arr[j]=x
        print(arr)
    return(arr)

In [47]:
insertion_sort([1,34,6,3,45,77,323,345,9657])

[1, 34, 6, 3, 45, 77, 323, 345, 9657]
[1, 6, 34, 3, 45, 77, 323, 345, 9657]
[1, 3, 6, 34, 45, 77, 323, 345, 9657]
[1, 3, 6, 34, 45, 77, 323, 345, 9657]
[1, 3, 6, 34, 45, 77, 323, 345, 9657]
[1, 3, 6, 34, 45, 77, 323, 345, 9657]
[1, 3, 6, 34, 45, 77, 323, 345, 9657]
[1, 3, 6, 34, 45, 77, 323, 345, 9657]

[1, 3, 6, 34, 45, 77, 323, 345, 9657]

In [38]:
def insertion_sort2(arr):
    j=1
    for j in range(1,len(arr)):
        x=arr[j]
        i=j-1
        while(i>=0):
            if x >= arr[i]:
                arr[j]=arr[i]
                j=j-1
            i=i-1
        arr[j]=x
        print(arr)
    print(arr)
    return(arr)

In [76]:
def insertion_sort3(arr):
    j=1
    y=1
    while(y<len(arr)):
        print(j)
        x=arr[j]
        i=j-1
        while(i>=0):
            if x >= arr[i]:
                arr[j]=arr[i]
                j=j-1
            i=i-1
        arr[j]=x
        y=y+1
        j=y
        print(j, y)
        print(arr)
    return(arr)

In [77]:
insertion_sort3([1,5,2,6,2,6,3,67])

1
2 2
[5, 1, 2, 6, 2, 6, 3, 67]
2
3 3
[5, 2, 1, 6, 2, 6, 3, 67]
3
4 4
[6, 5, 2, 1, 2, 6, 3, 67]
4
5 5
[6, 5, 2, 2, 1, 6, 3, 67]
5
6 6
[6, 6, 5, 2, 2, 1, 3, 67]
6
7 7
[6, 6, 5, 3, 2, 2, 1, 67]
7
8 8
[67, 6, 6, 5, 3, 2, 2, 1]

[67, 6, 6, 5, 3, 2, 2, 1]

In [39]:
insertion_sort2([1,2,321,32,4435,4356,643,4214,34235,45432])

[2, 1, 321, 32, 4435, 4356, 643, 4214, 34235, 45432]
[321, 2, 1, 32, 4435, 4356, 643, 4214, 34235, 45432]
[321, 32, 2, 1, 4435, 4356, 643, 4214, 34235, 45432]
[4435, 321, 32, 2, 1, 4356, 643, 4214, 34235, 45432]
[4435, 4356, 321, 32, 2, 1, 643, 4214, 34235, 45432]
[4435, 4356, 643, 321, 32, 2, 1, 4214, 34235, 45432]
[4435, 4356, 4214, 643, 321, 32, 2, 1, 34235, 45432]
[34235, 4435, 4356, 4214, 643, 321, 32, 2, 1, 45432]
[45432, 34235, 4435, 4356, 4214, 643, 321, 32, 2, 1]
[45432, 34235, 4435, 4356, 4214, 643, 321, 32, 2, 1]

[45432, 34235, 4435, 4356, 4214, 643, 321, 32, 2, 1]

In [79]:
def insertion_sort4(arr):
    j=1
    y=1
    while(y<len(arr)):
        print(j)
        x=arr[j]
        i=j-1
        while(i>=0):
            if x <= arr[i]:
                arr[j]=arr[i]
                j=j-1
            i=i-1
        arr[j]=x
        y=y+1
        j=y
        print(j, y)
        print(arr)
    return(arr)

In [80]:
insertion_sort4([2, 45, 2, 34, 5, 7, 4, 40, 245])

1
2 2
[2, 45, 2, 34, 5, 7, 4, 40, 245]
2
3 3
[2, 2, 45, 34, 5, 7, 4, 40, 245]
3
4 4
[2, 2, 34, 45, 5, 7, 4, 40, 245]
4
5 5
[2, 2, 5, 34, 45, 7, 4, 40, 245]
5
6 6
[2, 2, 5, 7, 34, 45, 4, 40, 245]
6
7 7
[2, 2, 4, 5, 7, 34, 45, 40, 245]
7
8 8
[2, 2, 4, 5, 7, 34, 40, 45, 245]
8
9 9
[2, 2, 4, 5, 7, 34, 40, 45, 245]

[2, 2, 4, 5, 7, 34, 40, 45, 245]